.body {
  background: linear-gradient(
    142deg,
    rgba(19, 19, 19, 1) 0%,
    rgba(62, 62, 62, 0.7861738445378151) 100%
  );
}

.fullContainer {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  background: rgb(19, 19, 19);
  background: linear-gradient(
    142deg,
    rgba(19, 19, 19, 1) 0%,
    rgba(62, 62, 62, 0.7861738445378151) 100%
  );
}
* {
  box-sizing: border-box;
}

.content {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}
#prompt {
  background-color: transparent;
  /*  border: none;
  border-color: transparent; */
  height: 6vh;
  width: 100%;
  font-size: 3rem;
  color: #ffffff;
}
#prompt::placeholder {
  font-size: 2.3rem;
  padding-left: 1vw;
  padding-top: 2vh;
  color: #ffffffd2;
}
.diary {
  width: 50vw;

  background-color: #ffffff;
  /*   padding: 2.3vw; */
  margin-top: 6vh;
  box-shadow: 1px 5px 8px rgb(0 0 0 / 15%);
  border-radius: 30px;
}
#text {
  width: 90vmin;
  height: 40vmin;
  margin-top: 4vmin;
  background-color: transparent;
  padding: 12px 20px;
  color: #ffffffd2;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

#text::placeholder {
  color: #ffffffd2;
}
.forms {
  display: flex;
  margin: auto;
  padding-top: 30vh;
}
.formHome {
  display: flex;
  margin: auto;
}
#username {
  text-align: right;
  font-weight: 500;
  padding-left: 2vmin;
}
.topBubble {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4vmin;
  padding-right: 4vmin;
  text-align: justify;
  text-justify: inter-word;
}
#confession {
  text-align: left;
  font-size: 1.3rem;
}
.bottomBubble {
  padding-left: 4vmin;
  padding-right: 4vmin;
  padding-bottom: 2vmin;
}
.logo {
  width: 3vmin;
  cursor: pointer;
}
.reactionTab {
  display: flex;
  justify-content: space-evenly;
  border-top: solid 3px rgba(186, 183, 183, 0.441);
  padding-top: 2vmin;
}
#subject {
  font-size: 1.6rem;
}
.dropdown-menu {
  display: none;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 8px;
  width: 160px;
  padding: 10px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
  background: #fafafa;
  transform-origin: top left;
}
.dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  border-radius: 4px;
  margin-left: 54vmin;
  margin-top: 8px;
  width: 160px;
  padding: 10px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
  background: #fafafa;
  transform-origin: top left;
}
.dropdown span {
  padding: 10px;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.dropdown span:hover {
  background: #eee;
}
#openDropdwn:checked + .dropdown {
  display: flex;
  position: absolute;
  margin-left: 30vw;

  animation: openDropDown 0.4s ease 0s 1 forwards;
}

@keyframes openDropDown {
  from {
    transform: rotateX(50deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
#icon {
  width: 20vmin;
  display: flex;
  margin-left: 8vmin;
  padding-top: 5vmin;
}
#user {
  width: 6vmin;
  height: 6vmin;
  margin-right: 8vmin;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 4vmin;
  padding-bottom: 3vmin;
}
.profilContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin: auto;
}
#profileImage {
  height: 35vmin;
  width: 35vmin;
  border-radius: 50%;
  background-size: cover;
}
#userName {
  font-size: 3rem;
  color: #ffffff;
}
#userNameInput {
  font-size: 3rem;
  color: #0b0a0a;
}
#buttonProfil {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  background-color: #fdfdfd;

  border-radius: 1vmin;
}
